@import "~/stylesheets/variables";
.c-diff-viewer {
  $parent: &;
  counter-reset: before after;

  border: 1px solid $color-border;
  border-radius: 4px;

  &__row {
    display: flex;
  }

  &__before,
  &__after {
    display: flex;
    overflow: auto;
    font-size: 14px;
    line-height: 1.5;
    width: 100%;

    &.empty {
      background-color: rgba(#aaa, 0.1);
    }
  }

  &__before {
    #{$parent}__line-num::before {
      counter-increment: before;
      content: counter(before);
    }

    &.changed {
      background-color: rgba($color-red-weak, 0.3);

      #{$parent}__mark::before {
        content: "-";
      }

      #{$parent}__line-num,
      #{$parent}__line-text span {
        background-color: rgba($color-red-weak, 0.5);
      }
    }
  }

  &__after {
    border-left: 1px solid $color-border;

    #{$parent}__line-num::before {
      counter-increment: after;
      content: counter(after);
    }

    &.changed {
      background-color: rgba($color-green-weak, 0.3);

      #{$parent}__mark::before {
        content: "+";
      }

      #{$parent}__line-num,
      #{$parent}__line-text span {
        background-color: rgba($color-green-weak, 0.5);
      }
    }
  }

  &__filename {
    padding: 10px;
    border-bottom: 1px solid $color-border;
    width: 100%;

    & + & {
      border-left: 1px solid $color-border;
    }
  }

  &__line {
    min-height: 25px;
    display: flex;
  }

  &__line-num,
  &__mark,
  &__line-text {
    line-height: 25px;
    display: inline-block;
  }

  &__line-num {
    width: 50px;
    text-align: center;
    flex-shrink: 0;
    opacity: 0.6;
    background-color: rgba(#aaa, 0.1);
  }

  &__mark {
    text-align: center;
    width: 25px;
    flex-shrink: 0;
  }

  &__line-text {
    word-break: break-all;
    white-space: pre-wrap;
  }
}
